@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
}
 .main{
    width: 100%;
    background: linear-gradient(to top ,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%),url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Youth-soccer-indiana.jpg/1200px-Youth-soccer-indiana.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
 }
 .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
 }
 .icon{
    width: 250px;
    float: left;
    height: 70px;
 }
 .logo{
   color: #ff7200;
   font-size: 20px;
   font-family: Arial;
   padding-left: 20px;
   float: left;
   padding-top: 10px;
 }
 .menu{
    width: 200px;
    float: left;
    height: 70px;
 }
 ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
 }
 ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition:0.4s ease-in-out;
 }
 ul li a:hover {
	color:  #ff7200;
	
}
 